
@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  background-color: $backgroundColor2;
}

.contactsContainer {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.formBlock {
  max-width: 350px;
  width: 90%;
  margin: 50px;
  border: 1px solid;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input, textarea {
  text-align: center;
  width: 300px;
  border: none;
  margin: 10px;
  border-radius: 8px;
  @include text('Rubik');

}

.form input {
  height: 25px;
}

.form textarea {
  height: 50px;
}

.form button {
  width: 100px;
  height: 30px;
  margin-top: 30px;
}

button {
  width: 100px;
  height: 40px;
  z-index: 1;
  background-color: $accentColor;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  border: none;
  @include text('Rubik');


  &:hover {
    background-color: #fa391b;
  }
}