.worksBlock {
    /*height: calc(100vh - 80px);*/
    background-color: #ffded7;
    width: 100%;
}

.worksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title{

}

.works{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 100%;
    flex-wrap: wrap;
    margin: 60px;
}