@import "src/common/styles/sass/variables.scss";


.skillsBlock {
  width: 100%;
  background-color: $backgroundColor2;

  .skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 60px;
  }
}




