/*@media screen and (max-width: 550px){*/
/*    .iconBlock {*/
/*        width: 350px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 551px){*/
/*    .iconBlock {*/
/*        width: 420px;*/
/*    }*/
/*}*/


.footerBlock {
    background-color: #d0ffd8;
}

.footerContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

.iconBlock {
    max-width: 400px;
    width: 90%;
    display: flex;
    margin: 50px;
    border: 1px solid;
    justify-content: space-between;
}

.iconItem{
    background-color: lightgray;
    height: 60px;
    width: 60px;
}
